<form>
<pre>

Enter Email id: <input type="text" ng-model="user.email" disabled>
Enter Password: <input type="password" ng-model="user.password">
Enter First Name: <input type="text" ng-model="user.firstname">
Enter Last Name: <input type="text" ng-model="user.lastname">
Enter Phone Number: <input type="text" ng-model="user.phonenumber">

Select Role:
 <input type="radio" ng-model="user.role" value="STUDENT"> STUDENT
 <input type="radio" ng-model="user.role" value="ALUMNI"> ALUMNI
 <input type="radio" ng-model="user.role" value="EMPLOYEE"> EMPLOYEE
 <input type="submit" ng-click="update()">


</pre>
</form>